extends layout

block content 
  .container.page-container#content-top
    .row.tl-row
        .col-md-3 
            .fxd-sec
                .hd.vertical-align-text
                    h3.timeline-head.font-45 Initiatives
        .col-md-8                          
            .list-sec
                .list-content
                    .row 
                        .col-md-2.tl-head#year2018.tl
                            h3#year-1.font-45.sh 2018
                        .col-md-8 
                            ul.timeline
                                li#list-item
                                    #accordionFlushExample-1.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-1.accordion-header
                                                button.accordion-button.collapsed#btn1.accordion-btn-1(onclick='myFunction()' type='button' data-bs-toggle='collapse' data-bs-target='#flush-1' aria-expanded='false' aria-controls='flush-1')
                                                    | BNY Donation
                                            #flush-1.accordion-collapse.collapse(aria-labelledby='heading-1' data-bs-parent='#accordionFlushExample-1')
                                                .accordion-body
                                                    | On the occasion of Bangla New Year, Daraz Bangladesh made donation of new dresses to the street kids.
                                                    img(src="/images/bangla_timeline/2(1).jpg", alt="", width="100%")
                                li
                                    #accordionFlushExample-2.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-2.accordion-header
                                                button.accordion-button.collapsed.accordion-btn-1(type='button' data-bs-toggle='collapse' data-bs-target='#flush-2' aria-expanded='false' aria-controls='flush-2')
                                                    | Uniform Donation
                                            #flush-2.accordion-collapse.collapse(aria-labelledby='heading-2' data-bs-parent='#accordionFlushExample-2')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-3.accordion-header
                                                button.accordion-button.collapsed.accordion-btn-1(type='button' data-bs-toggle='collapse' data-bs-target='#flush-3' aria-expanded='false' aria-controls='flush-3')
                                                    | Project Ushnota
                                            #flush-3.accordion-collapse.collapse(aria-labelledby='heading-3' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-2.tl-head.tl
                            h3.year.font-45.sh 2019
                        .col-md-8 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-4.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-4' aria-expanded='false' aria-controls='flush-4')
                                                    | Introduction of Project Alok
                                            #flush-4.accordion-collapse.collapse(aria-labelledby='heading-4' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-5.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-5' aria-expanded='false' aria-controls='flush-5')
                                                    | Cycle Rally for Menstrual Hygiene Management
                                            #flush-5.accordion-collapse.collapse(aria-labelledby='heading-5' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-6.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-6' aria-expanded='false' aria-controls='flush-6')
                                                    | Project Ushnota
                                            #flush-6.accordion-collapse.collapse(aria-labelledby='heading-6' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-7.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-7' aria-expanded='false' aria-controls='flush-7')
                                                    | Project Chauna Piyaju
                                            #flush-7.accordion-collapse.collapse(aria-labelledby='heading-7' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-8.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-8' aria-expanded='false' aria-controls='flush-8')
                                                    | Safepad Activation
                                            #flush-8.accordion-collapse.collapse(aria-labelledby='heading-8' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-2.tl-head.tl
                            h3.year.font-45.sh 2020
                        .col-md-8 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Fashion for Life
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-10.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-10' aria-expanded='false' aria-controls='flush-10')
                                                    | Corona Donation Drive
                                            #flush-10.accordion-collapse.collapse(aria-labelledby='heading-10' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-11.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-11' aria-expanded='false' aria-controls='flush-11')
                                                    | Corona food pack for 1000 families
                                            #flush-11.accordion-collapse.collapse(aria-labelledby='heading-11' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-12.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-12' aria-expanded='false' aria-controls='flush-12')
                                                    | Alok School
                                            #flush-12.accordion-collapse.collapse(aria-labelledby='heading-12' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-13.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-13' aria-expanded='false' aria-controls='flush-13')
                                                    | National Competition among teachers
                                            #flush-13.accordion-collapse.collapse(aria-labelledby='heading-13' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-14.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-14' aria-expanded='false' aria-controls='flush-14')
                                                    | Amar Daawat
                                            #flush-14.accordion-collapse.collapse(aria-labelledby='heading-14' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-15.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-15' aria-expanded='false' aria-controls='flush-15')
                                                    | Online Qurbani Donation Card
                                            #flush-15.accordion-collapse.collapse(aria-labelledby='heading-15' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-16.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-16' aria-expanded='false' aria-controls='flush-16')
                                                    | Amar Daraz & Proshar Donation Drive
                                            #flush-16.accordion-collapse.collapse(aria-labelledby='heading-16' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-17.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-17' aria-expanded='false' aria-controls='flush-17')
                                                    | Safepad Activation
                                            #flush-17.accordion-collapse.collapse(aria-labelledby='heading-17' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-18.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-18' aria-expanded='false' aria-controls='flush-18')
                                                    | The Unwanted Twin
                                            #flush-18.accordion-collapse.collapse(aria-labelledby='heading-18' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-19.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-19' aria-expanded='false' aria-controls='flush-19')
                                                    | Social Enterprise
                                            #flush-19.accordion-collapse.collapse(aria-labelledby='heading-19' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-20.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-20' aria-expanded='false' aria-controls='flush-20')
                                                    | Amar Daraz Make A Wish 11.11
                                            #flush-20.accordion-collapse.collapse(aria-labelledby='heading-20' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-21.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-21' aria-expanded='false' aria-controls='flush-21')
                                                    | Ektu Ushnota Winter Driver 2020
                                            #flush-21.accordion-collapse.collapse(aria-labelledby='heading-21' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li 
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-22.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-22' aria-expanded='false' aria-controls='flush-22')
                                                    | Ektu Ushnota with Corporate
                                            #flush-22.accordion-collapse.collapse(aria-labelledby='heading-22' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-2.tl-head.tl
                            h3.year.font-45.sh 2021
                        .col-md-8 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-23.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-23' aria-expanded='false' aria-controls='flush-23')
                                                    | Amar Daawat
                                            #flush-23.accordion-collapse.collapse(aria-labelledby='heading-23' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-24.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-24' aria-expanded='false' aria-controls='flush-24')
                                                    | Amar Daraz Grand Life Fashion Expo 2021
                                            #flush-24.accordion-collapse.collapse(aria-labelledby='heading-24' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-25.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-25' aria-expanded='false' aria-controls='flush-25')
                                                    | Amar Daraz Present Ignite Women Carnival 2021
                                            #flush-25.accordion-collapse.collapse(aria-labelledby='heading-25' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.   
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-2.tl-head.tl
                            h3.year.font-45.sh 2018
                        .col-md-8 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-26.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-26' aria-expanded='false' aria-controls='flush-26')
                                                    | Winter Blanket Donation by Employees
                                            #flush-26.accordion-collapse.collapse(aria-labelledby='heading-26' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.  
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-2.tl-head.tl
                            h3.year.font-45.sh 2019
                        .col-md-8 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-27.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-27' aria-expanded='false' aria-controls='flush-27')
                                                    | Winter Blanket Donation by Employees
                                            #flush-27.accordion-collapse.collapse(aria-labelledby='heading-27' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima. 
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-2.tl-head.tl
                            h3.year.font-45.sh 2020
                        .col-md-8 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-28.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-28' aria-expanded='false' aria-controls='flush-28')
                                                    | Winter Blanket Donation by Employees
                                            #flush-28.accordion-collapse.collapse(aria-labelledby='heading-28' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consequatur atque, accusamus eaque, in molestiae illum explicabo nobis suscipit similique quia dolores alias, facere exercitationem perspiciatis maxime praesentium aspernatur minima.     