extends layout

block content
  style. 
      .inner-d-1{
          background-image: url(/images/donations/img-1.png);
        }
      .inner-d-2{
        background-image: url(/images/donations/img-2.jpeg);
        }
      .inner-d-3{
        background-image: url(/images/donations/img-3.jpg);
        }
      .inner-d-4{
        background-image: url(/images/donations/img-4.jpg);
        }
      .inner-d-5{
        background-image: url(/images/donations/img-5.jpg);
        }
      .inner-d-6{
        background-image: url(/images/donations/img-6.jpg);
        }
      .inner-d-7{
        background-image: url(/images/donations/img-7.jpg);
        }
      .inner-d-8{
        background-image: url(/images/donations/img-8.jpg);
        }
      .inner-d-9{
        background-image: url(/images/donations/img-9.jpg);
        }
      .donations-bg-1:hover .inner-d-1{
        transform: scale(1.08); 
        }
      .donations-bg-2:hover .inner-d-2{
        transform: scale(1.08); 
        }
      .donations-bg-3:hover .inner-d-3{
        transform: scale(1.08); 
        }
      .donations-bg-4:hover .inner-d-4{
        transform: scale(1.08); 
        }
      .donations-bg-5:hover .inner-d-5{
        transform: scale(1.08); 
        }
      .donations-bg-6:hover .inner-d-6{
        transform: scale(1.08); 
        }
      .donations-bg-7:hover .inner-d-7{
        transform: scale(1.08); 
        }
      .donations-bg-8:hover .inner-d-8{
        transform: scale(1.08); 
        }
      .donations-bg-9:hover .inner-d-9{
        transform: scale(1.08); 
        }
  .container-fluid    
    .hero-container
        .text-center.donations-hero
            .donations-overlay
            h5.story Donations
            p.story Help impact their lives and communities in a tremendous way when you donate. These individuals and groups benefit directly with your kindness and generosity.
         
  .container-fluid.container-projects
    .donation-content
        .row.projects-row
            .col-md-6.orange-bg.w-48.vertical-align-text.relative-pos
                .donations-des
                    h3 Donations
                    p.desc-text
                        | A place for our customers to donate and fundraise for our chosen charity partners within each market.
                .bottom-btn.btn-donations  
                    h4.bottom-btn-text.btn-text-orange DONATE NOW
                        i.fas.fa-arrow-right.arrow-skillup 
            .col-md-6.w-48
                .donations-bg-1.donations-bg
                    .inner-d-1.inner-bg
        .row.projects-row.col-4-inner-row
            .col-md-4.pt-default.inner-col-4
                .donations-count
                    i.fas.fa-box-open#icon-orange
                    p.donations-count-value 60,000
                    .donations-count-value-overlay
                    p.donations-count-text Donations Made
            .col-md-4.pt-default.inner-col-4
                .donations-count
                    i.fas.fa-box-open#icon-orange
                    p.donations-count-value 25,000
                    p.donations-count-text Lives Impacted
            .col-md-4.pt-default.inner-col-4
                .donations-count
                    i.fas.fa-box-open#icon-orange
                    p.donations-count-value 680,000
                    p.donations-count-text Amount Raised
        .row.projects-row
            .col-md-6.w-48
                .donations-bg-2.pro-bg
                    .inner-d-2.inner-bg 
                .pro-name.pro-name-orange
                    h4 FPAN
            .col-md-6.w-48
                .donations-bg-3.pro-bg
                    .inner-d-3.inner-bg 
                .pro-name.pro-name-orange
                    h4 NAS
            .col-md-6.orange-bg.w-48.vertical-align-text.relative-pos
                .donations-des
                    p.desc-text
                        | We provide opportunities for our online community to donate, and support local charities to help them achieve their goals.
                .bottom-btn.btn-donations  
                    h4.bottom-btn-text.btn-text-orange COMPLETED JUNE 2020
                        i.fas.fa-arrow-right.arrow-skillup 
            .col-md-6.w-48
                .donations-bg-4.pro-bg
                    .inner-d-4.inner-bg 
                .pro-name.pro-name-orange
                    h4 UNICEF
            .col-md-6.w-48
                .donations-bg-5.pro-bg
                    .inner-d-5.inner-bg 
                .pro-name.pro-name-orange
                    h4 FPAN
            .col-md-6.w-48
                .donations-bg-6.pro-bg
                    .inner-d-6.inner-bg 
                .pro-name.pro-name-orange
                    h4 NAS
            .col-md-6.w-48
                .donations-bg-7.pro-bg
                    .inner-d-7.inner-bg 
                .pro-name.pro-name-orange
                    h4 FPAN
            .col-md-6.w-48
                .donations-bg-8.pro-bg
                    .inner-d-8.inner-bg 
                .pro-name.pro-name-orange
                    h4 NAS
            .col-md-6.w-48
                .donations-bg-9.pro-bg
                    .inner-d-9.inner-bg 
                .pro-name.pro-name-orange
                    h4 FPAN
            .col-md-6.orange-bg.w-48.vertical-align-text.relative-pos
                .donations-des
                    p.desc-text
                        | All donations go towards community driven initiatives in the areas that we assist. With the onest of Covid-19, these comminities still continue to recieve the essentials to protect themselves with your donations.
                .bottom-btn.btn-donations  
                    h4.bottom-btn-text.btn-text-orange COMPLETED APRIL 2021
                        i.fas.fa-arrow-right.arrow-skillup 