
footer.bg-dark.text-center.text-white
    .row    
        .col-md-2
        .col-md-4.footer-top(style='text-align:left;')
            .outer.outer-3
            button.btn.arrow.arrow-3
                    i.fas.fa-arrow-right 
            button.btn.btn-story.btn-footer Explore life at Daraz
        .col-md-4.footer-top(style='text-align:left;')
            .outer.outer-3
            button.btn.arrow.arrow-3
                    i.fas.fa-arrow-right 
            button.btn.btn-story.btn-footer See the latest from Daraz Cares 
        .col-md-2
        .col-md-4.footer-top
            img(src="", alt="")
        .col-md-3.footer-top(style='text-align:left;')
            ul.footer-ul
                li 
                p.footer-main-text PRIVACY + TERMS
                li 
                p.footer-main-text DARAZ
        .col-md-5.footer-top(style='text-align:left;')
            form(action="") 
                .row
                    .input-group.footer-input
                        input.form-control(type='text' placeholder="ENTER YOUR EMAIL")#form-input
                    button.submit.footer-main-text SUBMIT
                p.footer-sub-text(style='padding-top:3%;') You will be able to opt-out of these emails at any time. By signing up you understand that the information you provide is subject to Daraz's privacy policy and terms.
    .row.footer-bottom
        .col-md-4(style='text-align:left;')
            h7.footer-main-text FIND US AT
            p.footer-sub-text(style='padding-top:3%;')  4th Floor No, Hatch Works, 14 Sir Baron Jayatilaka Mawatha, Colombo, Sri Lanka
        .col-md-4
            h7.footer-main-text CONTACT
            ul.footer-ul.contact-li 
                li(style='padding-top:3%;')    
                i.fas.fa-phone-alt#icon-footer
                p.footer-sub-text.contact-num(style='display:inline;') +94 117 575 600
                li(style='padding-top:3%;')    
                i.fas.fa-envelope#icon-footer
                p.footer-sub-text.contact-email(style='display:inline;') cs@daraz.lk