
footer.bg-dark.text-center.text-white#footer
    .container.page-container
        .row.f-row 
            .col-md-6.btn-col 
                a(href="/life") 
                    .outer.outer-3.l-btn
                            button.btn.arrow.arrow-3.footer-arrow 
                                    i.fas.fa-arrow-right
                            button.btn.btn-story.btn-footer.bs-1-new Explore life at Daraz
            .col-md-6.btn-col
                a(href="/stories") 
                    .outer.outer-3.r-btn
                        button.btn.arrow.arrow-3.footer-arrow
                                i.fas.fa-arrow-right 
                        button.btn.btn-story.btn-footer.bs-2-new See the latest from Daraz Cares 
        .row.f-row 
            .col-md-4.footer-top
                img(src="/images/logo/logo-w.png", alt="")#footer-logo
            .col-md-3.footer-top(style='text-align:left;')
                ul.footer-ul
                    
                    li 
                    a(href="") 
                        p.footer-main-text PRIVACY + TERMS
                    li 
                    a(href="") 
                        p.footer-main-text DARAZ
            .col-md-5.footer-top(style='text-align:left;')
                form(action="") 
                    .row
                        .input-group.footer-input
                            input.form-control(type='text' placeholder="ENTER YOUR EMAIL")#form-input
                        button.submit.footer-main-text SUBMIT
                    p.footer-sub-text(style='padding-top:3%;') You will be able to opt-out of these emails at any time. By signing up you understand that the information you provide is subject to Daraz's privacy policy and terms.
        .row.footer-bottom.f-row
            .col-md-4(style='text-align:left;')
                h7.footer-main-text FIND US AT
                p.footer-sub-text(style='padding-top:3%;')  4th Floor No, Hatch Works, 14 Sir Baron Jayatilaka Mawatha, Colombo, Sri Lanka
            .col-md-4.fl-col
                h7.footer-main-text CONTACT
                ul.footer-ul.contact-li 
                    li(style='padding-top:3%;')    
                    i.fas.fa-phone-alt#icon-footer
                    p.footer-sub-text.contact-num(style='display:inline;') +94 117 575 600
                    li(style='padding-top:3%;')    
                    i.fas.fa-envelope#icon-footer
                    p.footer-sub-text.contact-email(style='display:inline;') cs@daraz.lk