extends layout

block content
  .container-fluid
  .hero-container
    .hero-img.hero-image-home
  .col-md-12.pl-300.pr-200
    h1
      | Inspiring communities through the
      .container
      h1 Power of commerce. 
      .overlay
    .pt-100 
      .row.animate__animated.sliding-up
        .col-md-4.left-box
          h2  
            | What
            br
            | We do 
        .col-md-6.right-box 
          p.do-text We support the education needs of local communities, equipping them with the skills needed to become active contributor of the society.
  .container-fluid.pd-0
    .bg-sec 
      .bg-section-11 
        .col-md-6.bg-text-holder 
          p.bg-text Educating Daraz employees and people within our communities which lead to economic growth and improved job opportunities.
          .outer.outer-1
            .button
              .btn-text Explore Program 
                i.fas.fa-arrow-right
    .bg-sec 
      .bg-section-12 
        .col-md-6.bg-text-holder 
          p.bg-text A place for our customers to donate and fundraise for our chosen charity partners within each market.
          .outer.outer-2
            .button
              .btn-text Explore Donations
                i.fas.fa-arrow-right
    .bg-sec 
      .bg-section-13 
        .col-md-6.bg-text-holder 
          p.bg-text Philanthropic initiatives designed to engage Daraz employees to help benefit the wider communit.
          .outer.outer-3
            .button
              .btn-text Explore Community 
                i.fas.fa-arrow-right
      