extends layout

block content
  button#myBtn(onclick='topFunction()' title='Go to top') 
    i.fas.fa-caret-up
  style. 
      .hero-image-home{
        background: url(/images/home_page/home-new.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        transition: transform 0.3s;
      }
      .bg-section-11 {
        background:url(/images/home_page/bg_new_1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }  
      .bg-section-12 {
        background-image: url(/images/home_page/bg_new_2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }
      .bg-section-13 {
        background-image: url(/images/home_page/bg_new_3.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      } 
      .home-hero-bg:hover .hero-image-home{
        transform: scale(1.08); 
        }
  .container.page-container#content-top
  .hero-container.w-100
    .home-hero-bg 
        .hero-image-home.inner-bg 
  .hover-.container.page-container
    .row.w-1   
        .col-md-1.home-empty-col-1 
        .col-md-10.home-main-head 
          h1.home-heading-1 Inspiring communities through the avenues of commerce.
            .overlay
        .col-md-1.home-empty-col-2
    .row.w-101.animate__animated.sliding-up 
        .col-md-1.home-empty-col-3
        .col-md-4.home-sub-head  
          .box 
            .hid-box.vertical-align-text.hid-box-1       
              h2  
                  | What
                  br
                  | We do
        .col-md-6.home-text
          .box 
            .hid-box.hid-box-2.vertical-align-text 
              p.do-text-1 We support the education needs of local communities, equipping them with the skills needed to become active contributor of the society.
        .col-md-1.home-empty-col-4 
  .container-fluid.pd-0
    .bg-sec 
      .bg-section-11 
        .col-md-6.bg-text-holder 
          p.bg-text Educating Daraz employees and people within our communities which lead to economic growth and improved job opportunities.
          a(href="/skillup") 
            .outer.outer-1
              button.btn.button.index-btn Explore Program 
              button.btn.arrow.arrow-1.index-btn.h-ar
                i.fas.fa-arrow-right  
      .pro-name-home.pro-1   
                h4 DC X SKILLUP         
    .bg-sec 
      .bg-section-12 
        .col-md-6.bg-text-holder 
          p.bg-text A place for our customers to donate and fundraise for our chosen charity partners within each market.
          a(href="/donations") 
            .outer.outer-2
              button.btn.button.index-btn Explore Donations
              button.btn.arrow.arrow-2.index-btn.h-ar
                i.fas.fa-arrow-right 
      .pro-name-home.pro-2   
                h4 DC X DONATIONS      
    .bg-sec 
      .bg-section-13 
        .col-md-6.bg-text-holder 
          p.bg-text Philanthropic initiatives designed to engage Daraz employees to help benefit the wider communit.
          a(href="/community") 
            .outer.outer-3
              button.btn.button.index-btn Explore Community
              button.btn.arrow.arrow-3.index-btn.h-ar
                i.fas.fa-arrow-right 
      .pro-name-home.pro-3   
                h4 DC X COMMUNITY   