extends layout

block content
  style. 
      .hero-image-home{
        background: url(/images/home_page/home-new.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        transition: transform 0.3s;
      }
      .bg-section-11 {
        background:url(/images/home_page/bg_1-new.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }  
      .bg-section-12 {
        background-image: url(/images/home_page/bg_2-new.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }
      .bg-section-13 {
        background-image: url(/images/home_page/bg_3-new.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      } 
      .home-hero-bg:hover .hero-image-home{
        transform: scale(1.08); 
        }
  .hero-container.w-100
    .home-hero-bg 
        .hero-image-home.inner-bg 
  .col-md-12.pl-300.pr-200
    h1.home-heading
      | Inspiring communities through the Power of commerce. 
      .overlay
    .pt-100 
      .row.animate__animated.sliding-up
        .col-md-4.left-box
          h2  
            | What
            br
            | We do 
        .col-md-6.right-box 
          p.do-text We support the education needs of local communities, equipping them with the skills needed to become active contributor of the society.
  .container-fluid.pd-0
    .bg-sec 
      .bg-section-11 
        .col-md-6.bg-text-holder 
          p.bg-text Educating Daraz employees and people within our communities which lead to economic growth and improved job opportunities.
          .outer.outer-1
            button.btn.button Explore Program 
            button.btn.arrow.arrow-1
              i.fas.fa-arrow-right           
    .bg-sec 
      .bg-section-12 
        .col-md-6.bg-text-holder 
          p.bg-text A place for our customers to donate and fundraise for our chosen charity partners within each market.
          .outer.outer-2
            button.btn.button Explore Donations
            button.btn.arrow.arrow-2
              i.fas.fa-arrow-right 
            
    .bg-sec 
      .bg-section-13 
        .col-md-6.bg-text-holder 
          p.bg-text Philanthropic initiatives designed to engage Daraz employees to help benefit the wider communit.
          .outer.outer-3
            button.btn.button Explore Community
            button.btn.arrow.arrow-3
              i.fas.fa-arrow-right 
      