extends layout

block content 
  .container.page-container#content-top.tml-cnt
    .row
        .col-md-10                       
            .list-sec
                .list-content
                    .row 
                        .col-md-5.head01#year2018.tl.tl-head  
                            h3#year-1.h3-sl Mental Health
                        .col-md-7 
                            ul.timeline
                                li#list-item
                                    #accordionFlushExample-1.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-1.accordion-header
                                                button.accordion-button.collapsed#btn1.accordion-btn-1(onclick='myFunction()' type='button' data-bs-toggle='collapse' data-bs-target='#flush-1' aria-expanded='false' aria-controls='flush-1')
                                                    | Happy Minds 
                                            #flush-1.accordion-collapse.collapse(aria-labelledby='heading-1' data-bs-parent='#accordionFlushExample-1')
                                                .accordion-body
                                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ipsam nam, minus officiis dolorum fugit, ipsum molestias facere assumenda quae incidunt fuga? Amet, aut consequatur! Accusamus nemo expedita suscipit? Repudiandae!
                                
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-5.tl.tl-head  
                            h3.year.h3-sl INGOs/NGO Food Distribution
                        .col-md-7 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-4.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-4' aria-expanded='false' aria-controls='flush-4')
                                                    | BHORE
                                            #flush-4.accordion-collapse.collapse(aria-labelledby='heading-4' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Since 2005 Bhore has been providing food to 5000+ families across Nepal with foods in different packages-for pregnent women and elderly people/Immunity Food-for covid infected families under the line of poverty/Frontline workers(police,traffic,cleaners)-sanitizers and PPEs
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-4.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-4' aria-expanded='false' aria-controls='flush-4')
                                                    | Feed the Hungry Nepal
                                            #flush-4.accordion-collapse.collapse(aria-labelledby='heading-4' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit fugiat neque nam illo exercitationem architecto cupiditate eaque, in eveniet mollitia nulla minima ullam totam esse. Voluptas omnis sunt cum vitae.
                                
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-5.tl.tl-head  
                            h3.year.h3-sl INGOs/NGO Health,Supply & Support
                        .col-md-7 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Nepal Ambulance Service
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Family Planning Association of Nepal
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-5.tl.tl-head  
                            h3.year.h3-sl Communication & Support
                        .col-md-7 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Social Change makers and Innovators(SOCHAI By Bonit Sharma)
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-5.tl.tl-head  
                            h3.year.h3-sl Logistics & Distribution
                        .col-md-7 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | UNICEF
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-5.tl.tl-head  
                            h3.year.h3-sl Government Hospitals
                        .col-md-7 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Nepal Trauma Cemtre
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Chhetrapati Hospital
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Teaching Hospital
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Charikot Hospital
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Pyuthan District Hospital
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-5.tl.tl-head  
                            h3.year.h3-sl Flood Victim Relief
                        .col-md-7 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | K foundation
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | Volunteer Corps
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corrupti, magni cum nulla id, voluptates illo quam aliquam perferendis aliquid distinctio obcaecati quaerat voluptatum nisi hic voluptatem, sit eligendi laborum.
                            hr.timeline-hr    