extends layout

block content
  .container-fluid.container-projects
    .row.projects-row
        .col-md-6.black-bg.w-48
            .project-des
                h3 Projects
                p.desc-text
                    | With a plethora of initiatives spread across Asia,we have guided numerous individuals and small business alike,to significant success, giving these entities a better stature within the community, and a platform for them to give back
        .col-md-6.w-48
            .project-bg-1.pro-bg
                .inner-1.inner-bg 
            .pro-name
                h4 Sri Lanka
        .col-md-6.w-48
            .project-bg-2.pro-bg
                .inner-2.inner-bg  
            .pro-name
                h4 Bangladesh
        .col-md-6.w-48
            .project-bg-3.pro-bg
                .inner-3.inner-bg  
            .pro-name
                h4 Myanmar
        .col-md-6.w-48  
            .project-bg-4.pro-bg  
                .inner-4.inner-bg   
            .pro-name   
                h4 Nepal