extends layout

block content
  style. 
      .inner-1{
        background-image: url(/images/projects/sl.jpg);
        }
        .inner-2{
        background-image: url(/images/projects/bangla.jpg);
        }
        .inner-3{
        background-image: url(/images/projects/myn.jpg);
        }
        .inner-4{
        background-image: url(/images/projects/nepal.jpg);
        }       
      .project-bg-1:hover .inner-1{
        transform: scale(1.08); 
        }
      .project-bg-1:hover .layer-1{ 
        background-color: rgba(251, 255, 6, 0.418);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
       .project-bg-2:hover .inner-2{
        transform: scale(1.08);  
        }
       .project-bg-2:hover .layer-2{
        background-color: rgba(15, 184, 105, 0.432);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
       .project-bg-3:hover .inner-3{
        transform: scale(1.08);  
        }
       .project-bg-3:hover .layer-3{
        background-color: rgba(252, 243, 5, 0.432);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
       .project-bg-4:hover .inner-4{
        transform: scale(1.08);  
        }
       .project-bg-4:hover .layer-4{
        background-color: rgba(252, 243, 5, 0.432);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
  .container-fluid.container-projects
    .projects-content
        .row.projects-row
            .col-md-6.black-bg.w-48.vertical-align-text
                .project-des
                    h3 Projects
                    p.desc-text
                        | With a plethora of initiatives spread across Asia,we have guided numerous individuals and small business alike,to significant success, giving these entities a better stature within the community, and a platform for them to give back
            .col-md-6.w-48
                .project-bg-1.pro-bg
                    .inner-1.inner-bg 
                        .layer-1
                .pro-name
                    h4 Sri Lanka
            .col-md-6.w-48
                a(href="/bangla_timeline", style="text-decoration: none;") 
                    .project-bg-2.pro-bg
                        .inner-2.inner-bg  
                            .layer-2
                    .pro-name
                        h4 Bangladesh
            .col-md-6.w-48
                .project-bg-3.pro-bg
                    .inner-3.inner-bg  
                        .layer-3
                .pro-name
                    h4 Myanmar
            .col-md-6.w-48  
                .project-bg-4.pro-bg  
                    .inner-4.inner-bg 
                        .layer-4  
                .pro-name   
                    h4 Nepal