extends layout

block content
  style. 
      .skill-hero{
        background-image: url(/images/skillup/hero-new.jpg);
      }
      .inner-s-1{
          background-image: url(/images/skillup/img-11.jpg);
        }
      .inner-s-2{
        background-image: url(/images/skillup/img-12.jpg);
        }
      
      .skillup-bg-1:hover .inner-s-1{
        transform: scale(1.08); 
        }
      .skillup-bg-2:hover .inner-s-2{
        transform: scale(1.08); 
        }   
  .container-fluid    
    .hero-container
        .text-center.skill-hero
            .skill-overlay
            h5.story Skill Up
            p.story The purpose of the Skill Up programme is to champion inclusivity and education to uplift communuties and advance local capabilities.
         
  .container-fluid.container-projects
    .skillup-content
        .row.projects-row
          .col-md-6.blue-bg.w-48.vertical-align-text
              .skillup-des
                  p.desc-text
                      | We have partnered with established academic institutions across the region to deliver credible and well-recognised courses to participants. Our focus is on providing access to entry-level business management and marketing courses to equip beneficiaries with basic entrepreneurial skills that will help them to elevate their careers. All modules are available online to ensure accessibility, with Daraz bearing the cost of course creation and hosting on the platform

          .col-md-6.w-48
              .skillup-bg-1.skillup-bg
                  .inner-s-1.inner-bg 
          .col-md-6.w-48
              .skillup-bg-2.skillup-bg
                  .inner-s-2.inner-bg  
          .col-md-6.blue-bg.w-48.relative-pos.vertical-align-text
              .skillup-des
                  p.desc-text
                      | Through our Skill Up programme, eligible employees are given the opprtunity to attend online courses, ranging from three to six months, as part of our partnership with academic institutions across different markets.
              .bottom-btn.btn-skillup   
                  h4.bottom-btn-text.btn-text-blue Job Opportunities
                      i.fas.fa-arrow-right.arrow-skillup        