extends layout

block content 
  .container.page-container#content-top.tml-cnt
    .row.tl-row
        .col-md-10                      
            .list-sec
                .list-content
                    .row 
                        .col-md-5.head01#year2018.tl-head.tl 
                            h3#year-1.h3-sl.sh SRI LANKA - Daraz CSR initiatives
                        .col-md-7 
                            ul.timeline
                                li#list-item
                                    #accordionFlushExample-1.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-1.accordion-header
                                                button.accordion-button.collapsed#btn1.accordion-btn-1(onclick='myFunction()' type='button' data-bs-toggle='collapse' data-bs-target='#flush-1' aria-expanded='false' aria-controls='flush-1')
                                                    | SRI LANKA - Daraz CSR initiatives
                                            #flush-1.accordion-collapse.collapse(aria-labelledby='heading-1' data-bs-parent='#accordionFlushExample-1')
                                                .accordion-body
                                                    ul(style='list-style:disc;') 
                                                        li 
                                                            p Donation of Rs. 100,000 for the Helping Hands Projects in partnership with the Sri Lankan Red Cross to support the education of children victimized from the Easter Sunday tragedy.
                                                        li 
                                                            p Volnteering at puppy adoption events with Embark Sri Lanka.
                                                        li 
                                                            p Blood drives at the Kalubowila Hospital
                                                    img(src="/images/sl_timeline/sl.jpg", alt="", width="100%")
                                
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-5.tl.tl-head 
                            h3.year.h3-sl.sh Christmas Project
                        .col-md-7 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-4.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-4' aria-expanded='false' aria-controls='flush-4')
                                                    | Christmas Project
                                            #flush-4.accordion-collapse.collapse(aria-labelledby='heading-4' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    ul(style='list-style:disc;')  
                                                        li 
                                                            p Donation of a year's supply of education material to 50 children in Nayanaloka Gama
                                                        li 
                                                            p Donation of hygiene material and toys to children at the AMITSU Home, which was set up to assist children affected following the Tsunami in 2004.
                                
                            hr.timeline-hr
            .list-sec
                .list-content
                    .row 
                        .col-md-5.tl.tl-head 
                            h3.year.h3-sl.sh COVID-19 Assistance
                        .col-md-7 
                            ul.timeline
                                li
                                    #accordionFlushExample.accordion.accordion-flush
                                        .accordion-item
                                            h2#heading-9.accordion-header
                                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-9' aria-expanded='false' aria-controls='flush-9')
                                                    | COVID-19 Assistance
                                            #flush-9.accordion-collapse.collapse(aria-labelledby='heading-9' data-bs-parent='#accordionFlushExample')
                                                .accordion-body
                                                    ul(style='list-style:disc;')  
                                                        li 
                                                            p Donation of over 20,000 COVID-19 test kits to the Ministry of Health with the Jack Ma Foundation.
                                                        li 
                                                            p Collaborating with UNICEF, the Sri Lanka Red Cross Society, Heal Lanka and LEADS Sri Lanka, to enable users to donate to a variety of cause that supported front-line workers, families with dry rations, and medicine for the elderly. Raised over 1,il LKR from over 400 donations and fed over 600 families in 2 months.
                                                        li 
                                                            p Donation of ICU beds to two hospitals in the Kegalle District.
                                                        li 
                                                            p Donation of dry rations and essential healthcare supplies to the Sri Lanka Police.