extends layout

block content
  .container-fluid
  .hero-container
    .text-center.stories-hero
        .story-overlay
        h5.story Stories + News
        p.story Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque a accusantium voluptatibus minima quas inventore voluptates quod obcaecati? Fugit totam dolorem quis aliquid assumenda cum animi voluptatem quam ex.
    
  .container-fluid.container-projects
    .row.story-row
        .col-md-6.story-sec-1.w-48-new
           .stories-des
            h3 Skill Up
            p.stories-sec Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut modi enim possimus nisi mollitia. Dolor hic impedit, deleniti vero et libero architecto sunt atque aperiam ipsa exercitationem fugiat explicabo! Illum.
           .bottom-btn.stories-bottom-btn   
                h4.bottom-btn-text Project
                    i.fas.fa-arrow-right.arrow-careers  
        .col-md-6.story-sec-2.w-48-new
           .stories-des
            h3 Education
            p.stories-sec Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut modi enim possimus nisi mollitia. Dolor hic impedit, deleniti vero et libero architecto sunt atque aperiam ipsa exercitationem fugiat explicabo! Illum.
           .bottom-btn.stories-bottom-btn   
                h4.bottom-btn-text Project
                    i.fas.fa-arrow-right.arrow-careers
        .col-md-6.story-sec-3.w-48-new
           .stories-des
            h3 Skill Up
            p.stories-sec Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut modi enim possimus nisi mollitia. Dolor hic impedit, deleniti vero et libero architecto sunt atque aperiam ipsa exercitationem fugiat explicabo! Illum.
           .bottom-btn.stories-bottom-btn   
                h4.bottom-btn-text Project
                    i.fas.fa-arrow-right.arrow-careers
        .col-md-6.story-sec-4.w-48-new
          .row.sub-secs
            .col-md-6.story-sub-sec-1.story-sub-sec 
                h6 Subjects to learn
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quidem tenetur et praesentium. Magnam nemo ut voluptatum soluta doloremque tempora ullam. Corporis, similique fuga architecto sed ratione illo autem natus?
            .col-md-6.story-sub-sec-2.story-sub-sec 
                h6 Join Us
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quidem tenetur et praesentium. Magnam nemo ut voluptatum soluta doloremque tempora ullam. Corporis, similique fuga architecto sed ratione illo autem natus?
            .col-md-6.story-sub-sec-3.story-sub-sec 
                h6 Support Us
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quidem tenetur et praesentium. Magnam nemo ut voluptatum soluta doloremque tempora ullam. Corporis, similique fuga architecto sed ratione illo autem natus?
            .col-md-6.story-sub-sec-4.story-sub-sec
                h6 Helping Hand
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quidem tenetur et praesentium. Magnam nemo ut voluptatum soluta doloremque tempora ullam. Corporis, similique fuga architecto sed ratione illo autem natus?
  .story-sec-last
    .text-center.stories-sec-last-bg
        