extends layout

block content
  .container-fluid
  .hero-container
    .text-center.stories-hero
        .story-overlay
        h5.story Stories + News
        p.story Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque a accusantium voluptatibus minima quas inventore voluptates quod obcaecati? Fugit totam dolorem quis aliquid assumenda cum animi voluptatem quam ex.
    
  .container-fluid.container-projects
    .row.story-row
        .col-md-6.story-sec.w-48
           .project-des
            h3 Skill Up
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut modi enim possimus nisi mollitia. Dolor hic impedit, deleniti vero et libero architecto sunt atque aperiam ipsa exercitationem fugiat explicabo! Illum.
           .bottom-btn.stories-bottom-btn   
                h4.bottom-btn-text Job Opportunities
                    i.fas.fa-arrow-right.arrow-careers  