extends layout

block content
  style. 
      .inner-u-1{
          background-image: url(/images/university/img-2.jpg);
        }
      .inner-u-2{
        background-image: url(/images/university/img-3.jpg);
        }
      
      .university-bg-1:hover .inner-u-1{
        transform: scale(1.08); 
        }
      .university-bg-2:hover .inner-u-2{
        transform: scale(1.08); 
        }
  .container-fluid    
    .hero-container
        .text-center.university-hero
            .university-overlay
            h5.story University
            p.story The purpose of the Skill Up programme is to champion inclusivity and education to uplift communuties and advance local capabilities.
         
  .container-fluid.container-projects
    .row.projects-row
        .col-md-6.purple-bg.w-48.vertical-align-text.relative-pos
            .project-des
                p.desc-text
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cupiditate, amet autem labore cum voluptate porro iste pariatur inventore voluptatem officia nihil sequi quasi ex sint! Expedita laboriosam debitis laudantium!
                .bottom-btn.btn-university  
                    h4.bottom-btn-text.btn-text-blue Join Us
                        i.fas.fa-arrow-right.arrow-university 
        .col-md-6.w-48
            .university-bg-1.university-bg
                .inner-u-1.inner-bg 
        .col-md-6.w-48
            .university-bg-2.university-bg
                .inner-u-2.inner-bg  
        .col-md-6.purple-bg.w-48.relative-pos.vertical-align-text
            .project-des
                p.desc-text
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cupiditate, amet autem labore cum voluptate porro iste pariatur inventore voluptatem officia nihil sequi quasi ex sint! Expedita laboriosam debitis laudantium!
            .bottom-btn.btn-university  
                h4.bottom-btn-text.btn-text-blue Read More
                    i.fas.fa-arrow-right.arrow-university 