@font-face {
  src: url(/fonts/CabrionLight.otf);
  font-family: 'Cabrion';
}
body {
  padding-top: 50px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;
  font-family: 'Cabrion';
  height: 100%;
}

a {
  color: #00B7FF;
}
h1{
  text-align: left;
  font-weight: 500;
  font-size: 70px;
  color: black;
}
h2{
  font-weight: 900;
  font-size: 3rem;
  color: black;
}
.do-text{
  font-weight: 900;
  font-size: xx-large;
  color: black;
  padding-right: 150px;
}
/* Main_images */
.hero-container{
  /* height: 70vh; */
  height: 650px;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-right: 150px;
  padding-left: 150px;
  margin-top: 5%;
}
.hero-container-home{
  /* height: 70vh !important; */
  height: 650px !important;
  display: block;
  height: 100%;
  overflow: hidden;
}
.hero-image-home{
  height: 100%;
  display: block;
  transition: transform 0.3s;
}
.home-main-container{
  overflow: hidden;
}
.hero-image-home:hover {
  transform: scale(1.05);  
}
.home-heading{
  width: 80%;
  margin-top: 50px;
}
.home-heading-1{
  width: 100%;
  margin-top: 50px;
}
.w-101:hover .overlay {
  background-color: transparent;
  width: 0%;
  left: 50%;
}
.do-text-1{
  font-weight: 900;
  font-size: xx-large;
  color: black;
}
/* Special Padding-left and Padding-right */
.pl-300{
  padding-left: 400px !important;
}
.pr-200{
  padding-right: 100px !important;
}
.pd-0{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.pl-90{
  padding-left: 90px;
}
.pt-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.pt-250{
  padding-top: 250px;
  padding-bottom: 250px;
}
.left-box{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 140px;
}
.right-box{
  padding-right: 60px;
  padding-top: 60px;
}
/* overlay-containers */
.container {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  background-color:#5daf46;
  overflow: hidden;
  width: 40%;
  left: 21%;
  right: 0;
  height: 10%;
  margin-top: -80px;
  transition: .5s ease;
}
.pl-300:hover .overlay {
  background-color: transparent;
  width: 0%;
  left: 50%;
}
.pl-300:hover .sliding-up {
  animation: slideInUp; 
  animation-duration: 0.7s;
}
.btn-green{
	background: #5daf46;
	color:white;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	border-color: #5daf46;
}

.btn-error{
	background: red;
	color:white;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	border-color: red;
}

.bg-grey{
	background-color: #efefef;
}

/* Home_bg_anim */
.bg-sec{
  /* height: 90vh; */
  height: 850px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.bg-text{
  color: white;
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  overflow-y: hidden;
  max-height: 45px;
  transition: max-height 0.3s ease-out;
  padding-right: 120px;
}
.bg-text-holder{
  padding-top: 320px;
  margin-left: 150px;
}
.button {
  width: 300px;
  display: inline-block;
  border: none;
  background: linear-gradient(to left, #5daf46  50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all .3s ease-out;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 0px;
  border: none;
}
.arrow-1{
  background-color: #5daf46;
  border-radius: 0px;
  border: none;
  padding: 10px;
  width: 50px;
  transition: width 0.3s ease-in-out;
}
.arrow-2{
  background-color: #5daf46;
  border-radius: 0px;
  border: none;
  padding: 10px;
  width: 50px;
  transition: width 0.3s ease-in-out;
}
.arrow-3{
  background-color: #5daf46;
  border-radius: 0px;
  border: none;
  padding: 10px;
  width: 50px;
  transition: width 0.3s ease-in-out;
}
.fa-arrow-right{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.bg-section-11:hover .bg-text{
  max-height: 160px;
  transition: max-height 0.3s ease-in;
}
.bg-section-11:hover .button{
  background-position: right bottom;
  width: 310px;
}
.bg-section-11:hover .arrow-1{
  width: 70px;
}

.bg-section-12:hover .bg-text{
  max-height: 160px;
  transition: max-height 0.3s ease-in;
}
.bg-section-12:hover .button{
  background-position: right bottom;
  width: 310px;
}
.bg-section-12:hover .arrow-2{
  width: 70px;
}
.outer-2{
  transition: padding 0.3s;
}
.bg-section-12:hover .outer-2{
  padding-top: 55px;
  transition: 0.3s;
}
.bg-section-13:hover .bg-text{
  max-height: 160px;
  transition: max-height 0.3s ease-in;
}
.bg-section-13:hover .button{
  background-position: right bottom;
  width: 310px;
}
.bg-section-13:hover .arrow-3{
  width: 70px;
}
.outer-3{
  transition: padding 0.3s;
}
.bg-section-13:hover .outer-3{
  padding-top: 55px;
  transition: 0.3s;
}


/* projects_page */
.container-projects{
  padding-left: 165px;
  padding-right: 118px;
  margin-bottom: 14px;
}
.black-bg{
  background-color: black;
  color: white;
  margin-left: 7px !important;
  margin-right: 7px !important;
  width: 48.5% !important;
}
.w-48{
  width: 49.5%;
  /* height: 80vh; */
  height: 750px;
  margin-top: 13px;
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
}
.w-100{
  width: 100%;
  /* height: 70vh; */
  height: 650px;
  overflow: hidden;
  padding-left: 120px;
  padding-right: 120px;
}
.w-101{
  padding-left: 120px;
  padding-right: 120px;
  overflow: hidden;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.pro-name{
  width: 30%;
  background-color: white;
  color: black;
  text-align: center;
  position: relative;
  margin-top: -44px;
}
.pro-name-home{
  width: 10%;
  color: white;
  text-align: center;
  position: relative;
  margin-top: -44px;
  left: 8%;
}

.pro-1{
  background-color: #25a5d8;
}
.pro-2{
  background-color: #fe6601;
}
.pro-3{
  background-color: #5fb20e;
}

.pro-bg{
  display: block;
  height: 100%;
  overflow: hidden;
}
.inner-bg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: block;
  transition: transform 0.3s;
}

.project-des{
  padding-left: 120px;
  padding-right: 120px;
}
h3{
  font-size: xxx-large;
  font-weight: 700;
  letter-spacing: 5px;
}
h4{
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.desc-text{
  font-size: 22px;
  line-height: 1.8;
  padding-top: 5%;
}


/* Carreers page */
.red-bg{
  background-color: #e52f1c;
  color: white;
  margin-left: 7px !important;
  margin-right: 7px !important;
  width: 48.1% !important;
  overflow: hidden;
  }
.blue-bg{
  background-color: #25a5d8;
  color: white;
  margin-left: 7px !important;
  margin-right: 7px !important;
  width: 48.1% !important;
  overflow: hidden;
}
.purple-bg-dark{
  background-color: #2a2c52;
  color: white;
  margin-left: 7px !important;
  margin-right: 7px !important;
  width: 48.1% !important;
  overflow: hidden;
  }
.career-bg{
  display: block;
  height: 100%;
  overflow: hidden;
  }
  .life-bg{
    display: block;
    height: 100%;
    overflow: hidden;
    }
.bottom-btn{
  width: 104%;
  padding-left: 140px;
  margin-left: -12px;
  color: #ffffff;
  position: relative;
  background-size: 200% 200%;
  background-image:linear-gradient(to top, #ffffff 50%, transparent 50%);
  transition: background-position 300ms, color 300ms ease;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  }
.arrow-careers{
    margin-left:50%;
  }   
.bottom-btn:hover{
  background-image: 
  linear-gradient(to top, #ffffff 50%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 300ms, color 300ms ease;
  }
.bottom-btn:hover .bottom-btn-text{
  color:#e52f1c;
  }
.bottom-btn:hover .arrow-careers{
  color:#e52f1c;
  }
.bottom-btn:hover h4.bottom-btn-text{
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  }
h4.bottom-btn-text{
  font-size: 25px;
  font-weight: bold;
}

/* stories */

.story-overlay{
  background-image: linear-gradient(10deg,  #0b0c3e, #0927af00);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 150px;
  width: 84.5%;
}
h5.story{
  color: #ffffff;
  font-weight: 900;
  font-size: xxx-large;
  padding-top: 15%;
  position: relative;
}
p.story{
  color: #ffffff;
  font-size: x-large;
  padding-left: 22%;
  padding-right: 22%;
  padding-top: 2%;
  position: relative;
  line-height: 1.5;
}



.story-sec-1{
  color: white;
  overflow: hidden;
}
.story-sec-2{
  color: white;
  overflow: hidden;
}
.story-sec-3{
  color: white;
  overflow: hidden;
}

.bg-1{
  background-color: #5daf46; 
  color: white;
  top:100%;
  position: relative;
  transition:all 0.3s ;
  height: 100%;
}

.bg-2{
  background-color:  #21a3da;
  color: white;
  top:100%;
  position: relative;
  transition:all 0.3s ;
  height: 100%;
}

.bg-3{
  background-color: #e52f1c; 
  color: white;
  top:100%;
  position: relative;
  transition:all 0.3s ;
  height: 100%;
}
.story-sec-1:hover .bg-1{
  top:-100%;
  transition:all 0.3s ;
}
.story-sec-2:hover .bg-2{
  top:-100%;
  transition:all 0.3s ;
}
.story-sec-3:hover .bg-3{
  top:-100%;
  transition:all 0.3s ;
}
.stories-bottom-btn{
  margin-top: 0px;
}
p.stories-sec{
  font-size: large;
  line-height: 2;
  padding-top: 10%;
}
p.last-story-sec{
  padding-top: 5%;
  padding-bottom: 5%;
}
.w-48-new{
  width: 49.5%;
  margin-top: 13px;
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
}
.stories-des{
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 190px;
  padding-bottom: 190px;
}
.story-sub-sec{
  color: white;
}
.st-sub-sec{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
  height: 100%;
}
.sub-sec-1 {
  background-color: #9ac939;
}
.sub-sec-2 {
  background-color: #50c7ea;
}
.sub-sec-3 {
  background-color: #f79f3b;
}
.sub-sec-4 {
  background-color: #5b449c;
}
.row.sub-secs{
  padding-left: 13px;
  padding-right: 10px;
  height: 100%;
}

.story-sec-last {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  padding-right: 150px;
  padding-left: 162px;
  margin-top: 20px;
}

.white-text{
  color: white;
}
.stories-last-text{
  padding-top:7%;
  padding-left: 4%;
  padding-right: 4%;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
}
.btn-story {
  width: 300px;
  display: inline-block;
  border: none;
  background: linear-gradient(to right, #5daf46  50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
  color: white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 0px;
  border: none;
  
}
.btn-story:hover{
  background-position: left bottom;
  width: 310px;
  color: white;
}
.stories-sec-last-bg:hover .stories-last-text{
  opacity: 1;
  transition: all 0.3s;
}
.stories-last-overlay{
  background-size: 200% 100%;
  height: 100%;
  width: 84%;
  position: absolute;
  background-position: right bottom;
  transition: all .3s ease-out;
}
.stories-sec-last-bg:hover .stories-last-overlay{
  background-position: left bottom;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.568) 0%, rgba(0,0,0,0.23853291316526615) 25%);
  transition: all 0.3s;
}
.slideup{
  margin-top: 100%;
  transition: all 0.5s;
}
.stories-sec-last-bg:hover .slideup{
  margin-top: 0%;
  transition: all 0.5s;
}
.container-stories{
  padding-left: 168px;
  padding-right: 154px;
}
.pad-default{
  padding-left: 7px !important;
  padding-right: 7px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.story-sub-sec-1{
  padding-left: 0px !important;
  padding-right: 7px !important;
  padding-bottom: 14px !important;
}
.story-sub-sec-2{
  padding-left: 7px !important;
  padding-right: 0px !important;
  padding-bottom: 14px !important;
}
.story-sub-sec-3{
  padding-left: 0px !important;
  padding-right: 7px !important;
}
.story-sub-sec-4{
  padding-left: 7px !important;
  padding-right: 0px !important;
}


.skill-hero{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 150px;
  width: 84.8%;
}
.skill-overlay{
  background-image: linear-gradient(0deg, #13303c 0%, rgb(37 165 216 / 59%) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.btn-skillup:hover .btn-text-blue {
  color: #25a5d8;
}
.arrow-skillup {
  margin-left:50%;
}
.btn-skillup:hover .arrow-skillup {
  color: #25a5d8;
  margin-left:50%;
}
.skillup-des {
  padding-left: 120px;
  padding-right: 120px;
}
.relative-pos{
  position: relative;
}
.btn-pos{
  position: absolute;
  bottom: 0;
}
.vertical-align-text{
  display: flex;
  justify-content: center;
  align-items: center;
}    
.purple-bg{
  background-color: #5b449c;
  color: white;
  margin-left: 7px !important;
  margin-right: 5px !important;
  width: 48.1% !important;
  overflow: hidden;
}
.university-hero{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 150px;
  width: 84.5%;
}
.university-overlay {
  background-image: linear-gradient(0deg, #5b449c 0%, rgb(91 68 156 / 26%) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.btn-university:hover .btn-text-blue {
  color: #5b449c;
}
.arrow-university {
  margin-left:50%;
}
.btn-university:hover .arrow-university {
  color: #5b449c;
  margin-left:50%;
}
.stories-bottom-btn{
  width: 104%;
  padding-left: 140px;
  margin-left: -12px;
  color: #ffffff;
  position: relative;
  background-size: 200% 200%;
  background-image:linear-gradient(to top, #ffffff 50%, transparent 50%);
  transition: background-position 300ms, color 300ms ease;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  }

.home-hero-bg {
  display: block;
  height: 100%;
  overflow: hidden;
}

.skillup-bg {
    display: block;
    height: 100%;
    overflow: hidden;
}
.university-bg {
  display: block;
  height: 100%;
  overflow: hidden;
}
.community-bg{
  display: block;
  height: 100%;
  overflow: hidden;
}
.community-hero{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 150px;
  width: 84.5%;
}
.community-overlay {
  background-image: linear-gradient(0deg, #5b449c 0%, rgb(91 68 156 / 26%) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.green-bg{
  background-color: #5daf46;
  color: white;
  margin-left: 7px !important;
  margin-right: 5px !important;
  width: 48.1% !important;
  overflow: hidden;
}
.community-overlay {
  background-image: linear-gradient(0deg, #5daf46 0%, rgb(93 175 70 / 29%) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.footer-ul{
  list-style: none;
  text-align: left;
}
.btn-footer{
  width: 75%;
}
.btn-footer:hover{
  width: 75%;
}
.bg-dark{
  background-color: black !important;
}
.footer-main-text{
  font-size: 25px;
  font-weight: 600;
}
.footer-sub-text{
  font-size: 22px;
  font-weight: 400;
  line-height: 2;
}
.footer-top{
  padding-top: 10%;
}
.footer-bottom{
  padding-bottom: 10%;
  padding-top: 5%;
}
#icon-footer{
  font-size: 25px;
}
.contact-li{
  padding-left: 20%;
}
.contact-num{
  padding-left: 7%;
}
.contact-email{
  padding-left: 15%;
}
footer{
  padding-left: 170px;
  padding-right: 137px;
  margin-bottom: -100px;
}
.footer-input{
  width: 65%;
  height: 60px;
}
.submit{
  width: 31%;
  background-color: #252525;
  color: white;
  border: 2px solid white;
  border-radius: 0px;
}
#form-input{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0px;
  color: white;
  font-size: 25px;
}





.donations-hero{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 150px;
  width: 84.5%;
}
.stories-hero{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 150px;
  width: 84.5%;
}
.bg-1-img, .bg-2-img,.bg-3-img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.donations-overlay{
  background-image: linear-gradient(0deg, #fe6601 0%, rgb(254 102 1 / 35%) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.donations-des {
  padding-left: 120px;
  padding-right: 120px;
}
.btn-donations:hover .btn-text-orange {
  color: #fe6601;
}
.arrow-skillup {
  margin-left:50%;
}
.btn-donations:hover .arrow-skillup {
  color: #fe6601;
  margin-left:50%;
}
.orange-bg{
  background-color: #fe6601;
  color: white;
  margin-left: 7px !important;
  margin-right: 7px !important;
  width: 48.1% !important;
  overflow: hidden;
}
.donations-bg {
  display: block;
  height: 100%;
  overflow: hidden;
}
.pro-name-orange{
  background-color: #fe6601;
  color: white;
}
.donations-count{
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
}
#icon-orange{
  color:#fe6601;
  font-size: 140px;
}
.donations-count{
  padding-top: 20%;
  padding-bottom: 20%;
}
.donations-count-value{
  font-size: 75px;
  color:#fe6601;
  font-weight: 400;
  font-family: monospace;
  letter-spacing: 10px;
}
.donations-count-text{
  font-size: 30px;
  color:#fe6601;
  font-weight: 400;
  font-family: monospace;
}
.pt-default{
  padding-top: 13px;
}
.inner-col-4{
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 32%;
  margin-left: 7px;
  margin-right: 7px;
  overflow-x: hidden;
}
.col-4-inner-row{
  padding-right: 15px;
}
.vid-thumbnail{
  background-image: url(/images/university/img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 150px;
  width: 84.5%;
}
.video-ply-btn{
  background:transparent;
  padding-left: 1%;
  border-radius: 100%;
  padding-right: 1%;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  transition: background 0.3s;
}
#play-btn{
  font-size: 30px;
  color: transparent;
  border-radius: 100px;
  transition: all 0.3s;
}
.play-button-bg{
  border: 0px;
  border-radius: 100%;
  padding: 10px;
  background-color: transparent;
}
.play-button-bg:hover{
  background-color: transparent;
}
.play-button-bg:focus{
  background-color: transparent;
  box-shadow:transparent;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: black;
  background-clip: padding-box;
  border:none;
  border-radius: 0rem;
  outline: 0;
}
.modal-header{
  border-bottom: 0px;
}
iframe{
  width: 100%;
  height: 100%;
  margin-top: 1%;
  padding: 5%;
}
#btn-close{
  background-color: red;
  margin-right: 1% !important;
  border-radius: 100%;
  position: absolute;
  right: 0%;
  font-weight: bold;
  padding-left: 10px;
  font-size: 26px;
  padding-right: 10px;
  border: none;
}
#life-hero:hover .video-ply-btn{
  background:white;
  transition: background 0.3s;
}
#life-hero:hover #play-btn{
  color:#5daf46;
  transition: all 0.3s;
}
.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.timeline-head{
  padding-top: 20%;
  padding-bottom: 20%;
  position: fixed;
  color: black;
  letter-spacing: 2px;
}
/* 00000000000000000000000000000000000000000000000000000000000000000000000000000 */

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: '';
  background: #797979;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 4px;
  height: 125%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: #797979;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 24px;
  width: 15px;
  height: 15px;
  z-index: 400;
  transition: all 0.3s;
}
.accordion-button{
  background-color: transparent;
  font-weight: bold;
  color: black;
  padding: 0px;
  transition: all 0.3s !important;
  border: none;
  box-shadow:none;
  font-size: 22px;
  border: none;
}
.accordion-item{
  background-color: transparent;
}
.accordion-body{
  color: black;
  font-weight: bold;
  padding:0px;
  font-size: 22px;
  line-height: 2;
  padding-top: 30px;
  padding-bottom: 30px;
}
.accordion-button::after {
  display: none;
}
.accordion-button:not(.collapsed){
  color: #5daf46;
  font-size: 25px;
  background: transparent;
  transition: all 0.3s !important;
  box-shadow:none;
}
.accordion-button:focus{
  border: none;
  box-shadow:none;
}
.timeline-hr{
  margin-left: 30px;
}
#btn1:focus.timeline-hr{
  background-color: black !important;
  
}
.move-top{
  margin-top: -50px !important;
}
#list-item{
  border-top: 2px solid #5daf4600;
  transition: all 0.3s;
}
.border-on{
  border-top: 2px solid #5daf46 !important;
  transition: all 0.3s;
}
.border-on::before{
  background: #5daf46 !important;
  margin-top: -30px !important;
  transition: all 0.3s;
}
#logo_main{
  max-width: 15%;
}    
.navbar-{
  padding-left: 8.5%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.modal-backdrop{
  z-index: 0;
}
.white-bg{
  background-color: white !important;
}
h8.nav-list-head{
  font-size: xx-large;
  color: #5daf46;
  letter-spacing: 2px;

}
.nav-list{
  list-style:none;
  padding-left:0px;
  font-size: x-large;
  padding-top: 20px;
}
.pt-pb{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
}
.modal-content.white-bg{
  width: 140%;
}
.modal-body.nav-modal{
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 30px;
  padding-bottom: 80px;
}
.nav-close-btn{
  font-size: x-large;
  color: #5daf46;
}
.navbar-modal{
  top: 2%;
  margin-right: 18%;
}
.fa-bars{
  font-size: 30px;
  color: #5daf46;
}
.nav-item-list{
  text-decoration: none;
  color: #000;
}
.nav-item-list:hover{
  color: #5daf46;
  font-weight: 600;
}
#footer-logo{
  max-width: 100%;
}
.overlay-don{
  height: 90px;
  background: white;
  width: 70%;
  margin-top: -106px;
  float: right;
  position: relative;
  transition: all 0.3s;
}
.od-2{
  width: 60%;
  }
.od-3{
  width: 75%;
  }
.col-4-inner-row:hover .overlay-don{
  width: 0%;
  transition: all 0.3s;
}
.careers-content{
  margin-top: 5%;
}
.projects-content{
  margin-top: 5%;
}
/* 00000000000000000000000000000000000000000000000000000000000000000000000000000 */
@media (max-width:1850px){
  .overlay{
    left: 19%;
  }
  .pl-300{
    padding-left: 350px !important;
  }
  .home-heading{
    width: 87%;
  }
}
@media (max-width:1750px){
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero{
    width: 82%;
  }
  .orange-bg, .purple-bg-dark, .black-bg, .green-bg, .purple-bg, .red-bg {
    width: 48% !important;
  }
  .container-projects {
    padding-left: 165px;
    padding-right: 142px;
    margin-bottom: 14px;
  }
  .don-arrow {
    margin-left: 25%;
  }
  .btn-donations:hover .don-arrow{
    margin-left: 25% !important;
  }
  .overlay-don{
    height: 90px;
    background: white;
    width: 75%;
    margin-top: -106px;
    float: right;
    position: relative;
    transition: all 0.3s;
  }
  .od-2{
    width: 60%;
    }
  .od-3{
    width: 80%;
    }
  .bg-sec{
    /* height: 90vh; */
    height: 780px;
  }
  .w-100{
    padding-left: 90px;
    padding-right: 90px;
  }
  .home-heading{
    width: 87%;
  }
  .overlay{
    left: 20%;
  }
  .pl-300{
    padding-left: 350px !important;
  }
}
@media (max-width:1600px){
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero{
    width: 80.5%;
  }
  .orange-bg, .purple-bg-dark, .black-bg, .green-bg, .purple-bg, .red-bg {
    width: 47.7% !important;
  }
  .don-arrow {
    margin-left: 10%;
  }
  .btn-donations:hover .don-arrow{
    margin-left: 10% !important;
  }
  .pl-300 {
    padding-left: 248px !important;
  }
  .overlay {
    left: 15%;
    width: 45%;
  }
  .home-heading {
    width: 95%;
  }
  
}
@media (max-width:1440px) {
  .hero-container {
    /* height: 70vh; */
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    
  }
  .skillup-content{
    margin-top: 0px;
  }
  .w-100{
    padding-left: 70px;
    padding-right: 70px;
  }
  .home-heading {
    width: 95%;
}
.pl-300 {
  padding-left: 175px !important;
}
.overlay{
  width: 55%;
  left: 15%;
}
.bg-text-holder{
  margin-left: 70px;
}
  .container-stories{
    padding-right: 140px;
    padding-left: 140px;
    margin-top: -102px;
  }
  .story-sec-last{
    padding-right: 75px;
  }
  .cr-page{
    margin-top: 4% !important;
  }
  .navbar-{
    padding-right: 9%;
  }
  .container-projects{
    padding-left: 137px;
    margin-top: -115px;
    padding-right: 111px;
  }
  .desc-text{
    font-size: 18px;
  }
  .skillup-des, .project-des, .donations-des{
    padding-left: 90px;
    padding-right: 90px;
  }
  h4.bottom-btn-text{
    font-size: 20px;
  }
  .don-arrow{
    margin-left: 25% !important;
  }
  .btn-donations:hover .don-arrow{
    margin-left: 25% !important;
  }
  .arrow-skillup{
    margin-left: 35%;
  }
  .bottom-btn{
    padding-left: 105px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .bottom-btn:hover h4.bottom-btn-text{
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .arrow-skillup{
      margin-left: 35%;
    }
    .btn-skillup:hover .arrow-skillup{
      margin-left: 35%;
    }
    .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero{
      margin-left: 120px;
      width: 82.5%;
      height: 85%;
    }
  .blue-bg{
    width: 47.5% !important;
  }
  p.story{
    font-size: large;
  }
  .red-bg{
    width: 47.5% !important;
  }
  .arrow-careers{
    margin-left: 35%;
  }
  .btn-donations:hover .arrow-skillup{
    margin-left: 35%;
  }
  .orange-bg{
    width: 47.5% !important;
  }
  #icon-orange{
    font-size: 125px;
  }
  .donations-count-value{
    font-size: 60px;
  }
  .donations-count-text{
    font-size: 25px;
  }
  .inner-col-4{
    width: 31.7%;
  }
  .purple-bg{
    width: 47.5% !important;
  }
  .green-bg{
    width: 47.5% !important;
  }
  .purple-bg-dark{
    width: 47.5% !important;
  }
  .black-bg{
    width: 47.5% !important;
  }
  h3{
    font-size: xx-large;
  }
  .story-sec-last{
    height: 67vh;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 7px;
    
  }
  .empty-col-1{
    width: 10%;
  }
  .empty-col-2{
    width: 0%;
  }
  .footer-sec-btn{
    width: 50%;
  }
  .footer-main-text{
    font-size: 22px;
  }
  #form-input{
    font-size: 22px;
  }
  .footer-sub-text{
    font-size: 18px;
  }
  footer {
    padding-left: 137px;
    padding-right: 118px;
    margin-bottom: -100px;
  }
  .footer-input{
    height: 50px;
  }
  .w-48{
    /* height: 70vh; */
    height: 650px;
  }
  .timeline-head {
    padding-top: 35%;
  }
  .home-heading {
    width: 100%;
}
}
@media (max-width: 1400px){
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero {
    width: 81.5%;
  }
  .overlay-don{
    height: 90px;
    background: white;
    width: 75%;
    margin-top: -106px;
    float: right;
    position: relative;
    transition: all 0.3s;
  }
  .od-2{
    width: 60%;
    }
  .od-3{
    width: 80%;
    }
}
@media (max-width: 1340px){
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero {
    width: 81%;
  }
  .overlay-don{
    height: 70px;
    background: white;
    width: 78%;
    margin-top: -85px;
    float: right;
    position: relative;
    transition: all 0.3s;
  }
  .od-2{
    width: 62%;
    }
  .od-3{
    width: 85%;
    }
}

@media (max-width:1300px) {
  .hero-container {
    /* height: 70vh; */
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero {
    margin-left: 120px;
    width: 80.5%;
    height: 85%;
}
.timeline-head {
  padding-top: 45%;
}
}
@media (max-width:1200px) {
  .hero-container {
    /* height: 65vh; */
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .story-sec-last {
    height: 600px;
    padding-left: 111px;
    padding-right: 118px;
    margin-top: 7px;
  }
  .timeline-head {
    padding-top: 45%;
  }
  .project-des{
    padding-left: 30px;
    padding-right: 30px;
  }
  .life-details{
    margin-top: -167px !important;
  }
  h3 {
    font-size: x-large;
  }
  p.stories-sec{
    line-height: 1.7;
  }
  .stories-last-text{
    width: 50% !important;
  }
  .stories-last-overlay{
    width: 81%;
  }
  .stories-last-text{
    padding-top: 15%;
  }
  .container-stories{
    margin-top: -155px;
  }
  .res-6{
    height: 600px; 
  }
  .container-stories{
    padding-left: 115px;
    padding-right: 125px;
  }
  .orange-bg, .purple-bg-dark, .black-bg, .green-bg, .purple-bg, .red-bg {
    width: 47% !important;
  }
  .container-projects{
    padding-left: 115px;
    padding-right: 95px;
    margin-top: -168px;
  }
  .w-48{
    /* height: 65vh; */
    height: 600px;
  }
  .skillup-des{
    padding-left: 30px;
    padding-right: 30px;
  }
  .desc-text{
    font-size: 17px;
  }
  .arrow-skillup{
    margin-left: 35%;
  }
  .bottom-btn{
    padding-left: 60px;
  }
  .btn-skillup:hover .arrow-skillup{
    margin-left: 35%;
  }
  h4.bottom-btn-text{
    font-size: 20px;
    font-weight: bold;
  }
  .bottom-btn:hover h4.bottom-btn-text{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    }
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero{
    margin-left: 99px;
    width: 82.5%;
    height: 75%;
  }
  p.story{
    font-size: large;
    padding-left: 15%;
    padding-right: 15%;
  }
  h5.story{
    font-size: 40px;
  }
  .empty-col-1{
    width: 5%;
  }
  .empty-col-2{
    width: 5%;
  }
  .overlay-don{
    height: 70px;
    background: white;
    width: 78%;
    margin-top: -85px;
    float: right;
    position: relative;
    transition: all 0.3s;
  }
  .od-2{
    width: 62%;
    }
  .od-3{
    width: 85%;
    }
  
}
@media(max-width:1100px){
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero{
    margin-left: 97px;
    width: 81.5%;
    height: 75%;
  }
  .inner-col-4{
    width: 31.3%;
  }
  .donations-count-value{
    font-size: 50px;
  }
}
@media(max-width:1024px){
  .container-projects {
    padding-left: 80px;
    padding-right: 60px;
    margin-top: -150px;
  }
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero{
    margin-left: 62px;
    width: 86.5%;
    height: 75%;
  }
  .life-details{
    margin-top: -155px !important;
  }
  .hero-container{
    /* height: 60vh; */
    height: 550px;
  }
  .stories-des{
    padding-left: 30px;
    padding-right: 30px;
  }
  h1{
    font-size: 65px;
  }
  h2{
    font-size: 2.5rem;
  }
  .do-text{
    font-size: 2rem;
  }
  .arrow-1,.arrow-2,.arrow-3{
    height: 50px;
  }
  .button{
    height: 50px;
  }
  .blue-bg {
    width: 46.8% !important;
  }
  .red-bg{
    width: 46.8% !important;
  }
  .purple-bg{
    width: 46.8% !important;
  }
  .green-bg{
    width: 46.8% !important;
  }
  .purple-bg-dark{
    width: 46.8% !important;
  }
  .black-bg{
    width: 46.8% !important;
  }
  .orange-bg{
    width: 46.8% !important;
  }
  .project-des{
    padding-left: 30px;
    padding-right: 30px;
  }
  .donations-des{
    padding-left: 30px;
    padding-right: 30px;
  }
  #icon-orange{
    font-size: 100px;
  }
  .donations-count-value{
    font-size: 45px;
  }
  .donations-count-text{
    font-size: 22px;
  }
  .container-stories{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: -140px;
  }
  .story-sec-last{
    padding-left: 75px;
    padding-right: 75px;
  }
  footer {
    padding-left: 80px;
    padding-right: 85px;
    margin-bottom: -100px;
  }
  .btn-story{
    font-size: 20px;
  }
  .fa-arrow-right{
    font-size: 20px;
  }
  .arrow-3{
    padding: 9px;
  }
  .footer-main-text{
    font-size: 20px;
  }
  #form-input{
    font-size: 19px;
  }
  .footer-sub-text {
    font-size: 16px;
  }
  #logo_main{
    max-width: 20%;
  }
  .left-box {
    padding-left: 0px;
  }
  .right-box {
    padding-right: 0px;
  }
  .overlay-don{
    height: 50px;
    background: white;
    width: 78%;
    margin-top: -57px;
    float: right;
    position: relative;
    transition: all 0.3s;
  }
  .od-2{
    width: 62%;
    }
  .od-3{
    width: 85%;
    }
    .timeline-head {
      padding-top: 55%;
    }
}
@media(max-width:990px){
  .navbar-collapse{
    display: block !important;
  }
  .fa-bars{
    float: right;
    margin-top: -38px;
  }
}
@media(max-width:868px){
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero,.stories-hero{
    height: 55%;
    width: 93.5%;
    margin-left: 22px;
  }
  .life-content{
    margin-top: 120px;
  }
  .careers-content {
    margin-top: -4%;
  }
  h3 {
    font-size: xx-large;
  }
  .timeline-head{
    padding-top: 70%;
  }
  .projects-content {
    margin-top: -4%;
  }
  .res-6{
    width: 100%;
  }
  .life-details {
    margin-top: -265px !important;
  }
  .stories-last-overlay{
    width: 90.5%;
  }
  h5.story{
    padding-top: 10%;
  }
  .stories-hero{
    margin-top: 8%;
  }
  .story-sec-last{
    padding-left: 38px;
    padding-right: 33px;
    /* height: 55vh; */
    height: 500px;
  }
  .stories-last-text{
    width: 50%;
  }
  .btn-story{
    width: 230px;
    height: 50px;
  }
  .btn-story:hover{
    width: 230px;
  }
  .cr-page{
    margin-top: 14% !important;
  }
  .inner-col-4{
    width: 31%;
  }
  #icon-orange {
    font-size: 90px;
}
.donations-count-value {
  font-size: 35px;
}
  h5.story{
    font-size: 33px;
  }
  p.story{
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
  }
  .container-projects{
    margin-top: -264px;
    padding-left: 40px;
    padding-right: 20px;
  }
  .container-stories{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -180px;
  }
  .w-48{
    width: 98% !important;
  }
  .story-sub-sec-4{
    margin-left: 0px !important;
  }
  .inner-bg{
    /* height: 55vh; */
    height: 600px;
  }
  .w-res{
    width: 95% !important;
  }
  .desc-text{
    font-size: 20px;
  }
  .arrow-skillup, .arrow-university{
    margin-left: 65%;
  }
  .uni-arrow-2{
    margin-left: 55%;
  }
  .btn-skillup:hover .arrow-skillup{
    margin-left: 65%;
  }
  .btn-university:hover .arrow-university{
    margin-left: 65%;
  }
  .btn-university:hover .uni-arrow-2{
    margin-left: 55%;
  }
  footer {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: -100px;
  }
  .footer-main-text{
    font-size: 15px;
  }
  #form-input{
    font-size: 13px;
  }
  .footer-sub-text{
    font-size: 14px;
  }
  .btn-story{
    font-size: 15px;
  }
  .empty-col-1{
    width: 0%;
  }
  .footer-fst-btn{
    width: 45%;
  }
  .footer-sec-btn{
    width: 45%;
  }
  .btn-footer{
    height: 50px;
  }
  .arrow-3{
    height: 50px;
  }
  .pr-0{
    padding-right: 14px;
  }
  #logo_main{
    max-width: 30%;
  }
  .navbar-collapse{
    display: block !important;
  }
  .page-content{
    padding-top: 60px;
  }
}
@media(max-width:768px){
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero,.stories-hero{
    height: 55%;
    width: 93.5%;
    margin-left: 22px;
  }
  .res-6{
    width: 100%;
  }
  .stories-last-overlay{
    width: 90.5%;
  }
  .stories-hero{
    margin-top: 8%;
  }
  .story-sec-last{
    padding-left: 38px;
    padding-right: 33px;
    /* height: 55vh; */
    height: 500px;
  }
  .stories-last-text{
    width: 50%;
  }
  .btn-story{
    width: 230px;
    height: 50px;
  }
  .btn-story:hover{
    width: 230px;
  }
  .cr-page{
    margin-top: 14% !important;
  }
  .inner-col-4{
    width: 31%;
  }
  #icon-orange {
    font-size: 90px;
}
.donations-count-value {
  font-size: 35px;
}
  h5.story{
    font-size: 33px;
  }
  p.story{
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
  }
  .container-projects{
    margin-top: -267px;
    padding-left: 40px;
    padding-right: 20px;
  }
  .container-stories{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -180px;
  }
  .w-48{
    height: 55vh;
    width: 98.5% !important;
  }
  .story-sub-sec-4{
    margin-left: 0px !important;
  }
  .inner-bg{
    /* height: 55vh; */
    height: 500px;
  }
  .w-res{
    width: 95% !important;
  }
  .desc-text{
    font-size: 20px;
  }
  .arrow-skillup, .arrow-university{
    margin-left: 65%;
  }
  .uni-arrow-2{
    margin-left: 55%;
  }
  .btn-skillup:hover .arrow-skillup{
    margin-left: 65%;
  }
  .btn-university:hover .arrow-university{
    margin-left: 65%;
  }
  .btn-university:hover .uni-arrow-2{
    margin-left: 55%;
  }
  footer {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: -100px;
  }
  .footer-main-text{
    font-size: 15px;
  }
  #form-input{
    font-size: 13px;
  }
  .footer-sub-text{
    font-size: 14px;
  }
  .btn-story{
    font-size: 15px;
  }
  .empty-col-1{
    width: 0%;
  }
  .footer-fst-btn{
    width: 45%;
  }
  .footer-sec-btn{
    width: 45%;
  }
  .btn-footer{
    height: 50px;
  }
  .arrow-3{
    height: 50px;
  }
  .pr-0{
    padding-right: 14px;
  }
  #logo_main{
    max-width: 30%;
  }
  .navbar-collapse{
    display: block !important;
  }
  .page-content{
    padding-top: 60px;
  }
}
@media (max-width: 660px){
  .inner-col-4 {
    width: 30.7%;
  }
  .donations-count-value {
    font-size: 30px;
  }
  #com-head{
    padding-top: 10%;
  }
}

@media(max-width:550px){
  .desc-text {
    font-size: 17px;
  }
  .arrow-skillup, .arrow-university {
    margin-left: 50%;
  }
  .btn-skillup:hover .arrow-skillup{
    margin-left: 50%;
  }
  .btn-university:hover .arrow-university{
    margin-left: 50%;
  }
  .btn-university:hover .uni-arrow-2{
    margin-left: 50%;
  }
  .inner-col-4 {
    width: 96.5%;
}
}

@media(max-width:425px){
  .skill-hero, .university-hero, .donations-hero, .community-hero, #life-hero, .stories-hero{
    height: 45%;
    width: 100%;
    margin-left: 0px;
  }
  .community-hero{
    height: 55%;
  }
  .com-page{
    margin-top: -270px !important;
  }
  .inner-col-4 {
    width: 96.5%;
}
.donations-count-value {
  font-size: 45px;
}
.donations-count-text {
  font-size: 30px;
}
  h5.story{
    font-size: 30px;
  }
  p.story{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;
  }
  .container-projects{
    margin-top: -325px;
    padding-left: 18px;
    padding-right: 10px;
  }
  .w-48{
    /* height: 45vh; */
    height: 400px;
    width: 98.5% !important;
  }
  .inner-bg{
    /* height: 55vh; */
    height: 500px;
  }
  .w-res{
    width: 95% !important;
  }
  .desc-text{
    font-size: 15px;
  }
  .arrow-skillup{
    margin-left: 40%;
  }
  .btn-skillup:hover .arrow-skillup{
    margin-left: 40%;
  }
  footer {
    padding-left: 18px;
    padding-right: 10px;
    margin-bottom: -100px;
  }
  .footer-main-text{
    font-size: 15px;
  }
  #form-input{
    font-size: 13px;
  }
  .footer-sub-text{
    font-size: 14px;
  }
  .btn-story{
    font-size: 15px;
  }
  .empty-col-1{
    width: 0%;
  }
  .footer-fst-btn{
    width: 45%;
  }
  .footer-sec-btn{
    width: 45%;
  }
  .btn-footer{
    height: 50px;
  }
  .arrow-3{
    height: 50px;
  }
  .pr-0{
    padding-right: 5px;
  }
  .footer-fst-btn{
    width: 100%;
  }
  .footer-sec-btn{
    width: 100%;
  }
  #logo_main{
    max-width: 30%;
  }
  .navbar-collapse{
    display: block !important;
  }
  .page-content{
    padding-top: 60px;
  }
}
